@font-face {
    font-family: horror;
    src: url(./Another\ Danger\ -\ Demo.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

h1 {
    color: orange;font-size: 100pxa;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    text-transform: capitalize;
    font-size: 200px;
    color: red;
}
body {
    background-color: black;
    font-family: horror;
}
#para{
    color: white;
    font-size: 20px;
    text-align: center;
}
.cla{
    color: yellow;
    text-align: center;
}
#para2{
    color: green;
    font-size: 25px;
    text-align: center;
}
div{
    color: white;
    text-align: center;
}