.dock {
  display: flex;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(103, 103, 103, 0.448);
  padding-inline: 1rem;
  padding-block: 0.4rem;
  border-radius: 0.75rem;
  gap: 0.8rem;

  backdrop-filter: blur(5px);

  .icon {
    padding: 0.65rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    height: 3rem;
    width: 3rem;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .github {
    background-color: black;
  }

  .note {
    background: linear-gradient(
      to bottom,
      rgb(255, 197, 90),
      rgb(250, 173, 31)
    );
  }

  .pdf {
    background: linear-gradient(to bottom, rgb(255, 37, 52), rgb(255, 25, 40));
  }

  .calender {
    background: linear-gradient(to bottom, rgb(105, 94, 255), rgb(66, 52, 255));
  }

  .spotify {
    background-color: black;
    img {
      filter: brightness(0) saturate(100%) invert(48%) sepia(79%)
        saturate(2476%) hue-rotate(116deg) brightness(98%) contrast(101%);
    }
  }

  .mail{
    background: linear-gradient(to bottom,rgb(26, 140, 177),rgb(50, 194, 243));
  }

  .link{
    background-color: whitesmoke;
    img{
        color: black;
        filter: invert(100%);
    }
  }

  .cli{
    background: black;
}

    .icon:hover{
        transform: scale(1.25) translateY(-20%);
    }

  .icon:hover + .icon,
  .icon:has(+ .icon:hover){
    transform: scale(1.1) translateY(-10%);
  }

}
