* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(241, 248, 254);
}

.heading {
    background-color: rgb(16, 30, 42);
    text-align: center;
    /* text-transform: capitalize; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:white;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    text-transform: uppercase;
}
.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: 20px;
    color: rgb(189, 187, 187);
    font-style: oblique;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutme{
    height: 200px ;
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin: 40px;
    background-color: rgb(202, 255, 237);
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 800;
}

.education{
    height: 200px ;
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin: 40px;
    background-color: rgb(247, 241, 122);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lines{
    width: 700px;
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
    
}
.skills{
    height: 250px ;
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin: 40px;
    background-color: rgb(255, 202, 202);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects{
    height: 250px ;
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin: 40px;
    background-color: rgb(250, 223, 248);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    height: 200px ;
    width: 90%;
    font-size: 18px;
    text-align: center;
    margin: 40px;
    background-color: rgba(15, 255, 171, 0.847);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    background-color: rgb(16, 30, 42);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:white;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
