*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root{
    height: 100%;
    width: 100%;
}

body{
    background-color: #242424;
}

main{
    height: 100%;
    width: 100%;

    background-image: url("/loki.jpg");
    background-size: cover;
    background-position: center;
}