* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: white;
}
html, body {
   height: 100%;
   width: 100%;
   background-color: black;
}
main {
    height: 100%;
    width: 100%;
    display: grid;
    /* grid-template-columns: 100px  minmax(100px, 500px) 15%; */
    /* grid-template-columns: repeat(2,1fr); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
    /* grid-gap: 10px; */

}
.child {
    background-color: crimson;
    border: 2px solid white;
    height: 100px;
    width: 100px;
}