* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   color: whitesmoke;
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate{
    from{
        --rotate: 0deg;
    }
    to{
        --rotate: 360deg;
    }
}
.box{
    height: 500px;
    width: 280px;
    padding-inline: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 0 red;
    background: linear-gradient( rgb(0, 0, 0)) padding-box,
    conic-gradient(from var(--rotate),black,rgb(255, 0, 0),black) border-box;
    border: 5px solid rgba(0, 0, 0, 0);
    animation: borderAnimate 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    border-width: 0px;
    transition: all 0.2s linear;
    text-shadow:  3px 0 3px red;
    
    
}

.box:hover{
    animation-play-state: running;
    border-width: 5px;
    box-shadow: 0 0 30px red;
    color: red;
    text-shadow: 3px 0 3px white;
}
img{
    width: 200px;

}
h1{
    padding: 10px;
}

p{
    font-size: 19px;
    /* font-weight: bold; */
}