* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
   background:linear-gradient( 45deg,black,rgb(63, 63, 63), black);
}
main{
    height: 100%;
    width: 100%;
}
.piano{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.naturals {
    display: flex;
    flex-wrap:wrap;
    gap: 1px;
}
.whitekey{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    height: 400px;
    width: 80px;
    background-color: white;
    border-radius: 0px 0px 13px 13px;
    border: 1px solid rgb(89, 89, 89);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
    /* transition: 0.1s ease; */
    translate: 0px -10px;
    
}
.blackkey{
    translate: 0px -10px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    width: 50px;
    background-color: black;
    border-radius: 0px 0px 8px 8px;
    /* border: 0px solid white; */
    box-sizing: border-box;
    position: relative;
    box-shadow:0px  5px 10px gray;
    padding-bottom: 15px;
}
.flat{
    position: absolute;
    display: flex;
    gap: 3px;
}
#key11{
    left : -165px ;
}
#key12{
    left: -137px;
}
#key13{
    left: -28px;
}
#key15{
    left: 29px;
}
#key16{
    left: 137px;
}
#key17{
   left: 167px; 
}