* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
}
#main {
    height: 100%;
    width: 100%;
}

#main>h1{
    font-size: 300px;
    font-weight: 500;
    text-align:center;
}

#nav a{
    color: black;
    font-weight: 800;
    font-size:17px;
    text-decoration: none;
    margin-right: 15px;
}
#nav{
 padding: 20px;   
}
#botmlft {
    position: absolute;
    bottom: 20%;
    left: 5%;
    width: 200px;

}

#botmlft h3{
    font-size: 20px;
    font-weight: 700;
}

#botmlft p {
    font-size: 13px;
    margin-top: 8px;
}

#botmlft h4 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;

}
#bottombar {
    position: absolute;
    /* font-size: 11px; */
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 70px;


}
#bottombar h1 {
    font-size: 20px;
}

#bottombar a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
#first, #second, #third {
    height: 280px;
    position: absolute;
}
#first {
    top:40% ;
    height: 320px;
    left: 60%;
    z-index: 99;
}
#second {
    top: 60%;
    left: 50%;
    border: 1px solid black;
    z-index: 90;

}
#third{
    top: 48%;
    left: 40%;
}