* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card div{
    height: 450px;
    width: 250px;
    background-color: white;
    border-radius: 5px;
}
img{
    width: 220px;
    border-radius: 15px;
    padding: 10px;
}