* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

#parent {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
    height: 100px;
    width: 100px;
    background-color: crimson;
}
#box2 {
    height: 100px;
    width: 100px;
    background-color: lightblue;
}
#box3 {
    height: 100px;
    width: 100px;
    background-color: lightseagreen;
}
