* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
#parent {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1 {
    height: 100px;
    width: 100px;
    background-color: crimson;
}
#box2 {
    height: 100px;
    width: 100px;
    background-color: lightblue;
}
#box3 {
    height: 100px;
    width: 100px;
    background-color: lightseagreen;
} */

#main{
    Height: 100%;
    Width: 100%;
    background-color: black;
}

#nav {
    Height: 40px;
    Width: 100%;
    background-color: rgb(35, 34, 34);   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#nav a {
    color: white;
    text-decoration: none;
    /* font-size: 20px; */
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}               

#center {
    color : white;
    background-color: black;
    text-align: center; 
    padding: 25px;

}
#center h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
#center h5 {
    font-size: 30px;
    font-weight: 300;
}

#links {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

#links button {
    color: white;
    background-color: rgb(47, 94, 249);
    text-decoration: none;
    border-radius: 17px;
    padding: 10px 20px;


}