* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #242424;
  color:white;
}
form {
  background-color: #333;
  height: 100px;
  padding: 15px;
  color: white;
}

input {
  background-color: #242424;
  border: none;
  padding: 10px 20px;
  outline: none;
  color: white;
}
button {
  padding: 10px 20px;
  background-color: gray;
  border: none;
}
button:active {
  scale: 0.96;
}
